Repository PowerShell/PSScriptAnalyzer, pull requests merged in 2018-02, with the labels that each got.

#888 Fix typo in .Description for Measure-RequiresModules
  Tests/Engine/CommunityAnalyzerRules/CommunityAnalyzerRules.psm1
Labels: Area - Documenatation

#882 Changes to allow tests to be run outside of CI
  README.md
  Tests/Engine/CustomizedRule.tests.ps1
  Tests/Engine/InvokeScriptAnalyzer.tests.ps1
  Tests/Engine/ModuleDependencyHandler.tests.ps1
  Tests/Engine/ModuleHelp.Tests.ps1
  Tests/Engine/RuleSuppression.tests.ps1
  Tests/PSScriptAnalyzerTestHelper.psm1
  Tests/Rules/AlignAssignmentStatement.tests.ps1
  Tests/Rules/AvoidUnloadableModuleOrMissingRequiredFieldInManifest.tests.ps1
  Tests/Rules/AvoidUsingAlias.tests.ps1
  Tests/Rules/UseIdenticalMandatoryParametersForDSC.tests.ps1
  Tests/Rules/UseToExportFieldsInManifest.tests.ps1
  appveyor.yml
  build.ps1
  buildCoreClr.ps1
Labels: Area - Build

#898 Fix Markdown in ScriptRuleDocumentation.md so it renders correctly on GitHub web site
  ScriptRuleDocumentation.md
Labels: Area - Documenatation

#891 Fix regressions introduced by PR 882
  Tests/Engine/CustomizedRule.tests.ps1
  Tests/Engine/ModuleDependencyHandler.tests.ps1
  Tests/Engine/RuleSuppression.tests.ps1
  Tests/Rules/AlignAssignmentStatement.tests.ps1
  appveyor.yml
Labels: Area - Build

#899 Remove redundant 'dotnet restore' tasks in build because .Net Core 2 handles it automatically
  .build.ps1
  buildCoreClr.ps1
Labels: Area - Build

#885 Have a single point of reference for the .Net Core SDK version
  appveyor.yml
Labels: Area - Build

#906 Update from Pester 4.1.1 to 4.3.1 and use new -BeTrue and -BeFalse operators
  README.md
  Tests/Engine/Extensions.tests.ps1
  Tests/Engine/GetScriptAnalyzerRule.tests.ps1
  Tests/Engine/Helper.tests.ps1
  Tests/Engine/InvokeScriptAnalyzer.tests.ps1
  Tests/Engine/ModuleHelp.Tests.ps1
  Tests/Engine/Settings.tests.ps1
  Tests/Engine/SettingsTest/Issue828/Issue828.tests.ps1
  Tests/Rules/AvoidUnloadableModuleOrMissingRequiredFieldInManifest.tests.ps1
  appveyor.yml
  build.ps1
Labels: Area - Build

#907 Fix AvoidDefaultValueForMandatoryParameter documentation, rule and tests
  RuleDocumentation/AvoidDefaultValueForMandatoryParameter.md
  Rules/AvoidDefaultValueForMandatoryParameter.cs
  Tests/Rules/AvoidDefaultValueForMandatoryParameter.ps1
  Tests/Rules/AvoidDefaultValueForMandatoryParameter.tests.ps1
  Tests/Rules/AvoidDefaultValueForMandatoryParameterNoViolations.ps1
Labels: Area - Documenatation, Area - Rules

#909 Allow relative settings path
  Engine/Commands/InvokeFormatterCommand.cs
  Engine/Commands/InvokeScriptAnalyzerCommand.cs
  Engine/Generic/PathResolver.cs
  Engine/Settings.cs
  Tests/Engine/InvokeScriptAnalyzer.tests.ps1
Labels: Area - Engine, Area - Formatter, Area - Rules
