Repository PowerShell/PSScriptAnalyzer, pull requests merged in 2019-05, with the labels that each got.

#1233 Fix typo in AvoidDefaultValueForMandatoryParameterError resource string
  Rules/Strings.Designer.cs
  Rules/Strings.resx
Labels: Area - Rules, Issue - Enhancement

#1200 Instead of using the first cimClass and then having no superClass, use the first cimClass that has a non-null superClass
  Rules/UseIdenticalMandatoryParametersDSC.cs
  Tests/Rules/UseIdenticalMandatoryParametersForDSC.tests.ps1
Labels: Area - DSC, Area - Rules

#1232 Remove code for deprecated rules that is not used any more
  DeprecatedRules/AvoidUninitializedVariable.cs
  DeprecatedRules/AvoidUnloadableModule.cs
  DeprecatedRules/AvoidUsingFilePaths.cs
  DeprecatedRules/AvoidUsingInternalURLs.cs
Labels: Area - Build
