Repository PowerShell/PSScriptAnalyzer, pull requests merged in 2019-03, with the labels that each got.

#1156 Fix names of shipped profiles in docs
  RuleDocumentation/UseCompatibleCommands.md
  RuleDocumentation/UseCompatibleTypes.md
Labels: Area - Documentation

#1075 Add Command data files of PowerShell 6.1.0
  Engine/Settings/core-6.1.0-linux-arm.json
  Engine/Settings/core-6.1.0-linux.json
  Engine/Settings/core-6.1.0-macos.json
  Engine/Settings/core-6.1.0-windows.json
  RuleDocumentation/UseCompatibleCmdlets.md
  Rules/UseCompatibleCmdlets.cs
  Tests/Rules/UseCompatibleCmdlets.tests.ps1
  Tests/Rules/UseCompatibleCmdlets/PSScriptAnalyzerSettings.psd1
  Utils/New-CommandDataFile.ps1
Labels: (Re-)Review Needed, Area - Engine

#1138 Add support for Hashtable syntax of Import-DscRessource for -SaveDscDependency switch
  Engine/Generic/ModuleDependencyHandler.cs
  Tests/Engine/ModuleDependencyHandler.tests.ps1
Labels: (Re-)Review Needed, Area - DSC, Area - Engine

#1165 Raise minimum required PS version of PS 6 to 6.1.0 due to 6.0 running out of support now and update Newtonsoft.Json to 11.0.2
  Engine/Engine.csproj
  Engine/PSScriptAnalyzer.psm1
  PSCompatibilityAnalyzer/Microsoft.PowerShell.CrossCompatibility/Microsoft.PowerShell.CrossCompatibility.csproj
  Rules/Rules.csproj
Labels: Area - Build, Breaking Change

#1145 Allow for suppression of custom rules
  Engine/Generic/ExternalRule.cs
  Engine/Generic/IExternalRule.cs
  Engine/Generic/RuleSuppression.cs
  Engine/Helper.cs
  Engine/ScriptAnalyzer.cs
  README.md
  Tests/Engine/CustomizedRule.tests.ps1
  Tests/Engine/samplerule/samplerule.psm1
Labels: (Re-)Review Needed, Area - Engine

#1158 Update .Net Core SDK from 2.2.103 to 2.2.104 (latest patch)
  README.md
  global.json
Labels: Area - Build

#1092 Add CheckInnerBrace and CheckPipe options to PSUseConsistentWhitespace
  Engine/Settings/CodeFormatting.psd1
  Engine/Settings/CodeFormattingAllman.psd1
  Engine/Settings/CodeFormattingOTBS.psd1
  Engine/Settings/CodeFormattingStroustrup.psd1
  RuleDocumentation/UseConsistentWhitespace.md
  Rules/Strings.Designer.cs
  Rules/Strings.resx
  Rules/UseConsistentWhitespace.cs
  Tests/Engine/InvokeScriptAnalyzer.tests.ps1
  Tests/PSScriptAnalyzerTestHelper.psm1
  Tests/Rules/UseConsistentWhitespace.tests.ps1
Labels: (Re-)Review Needed, Area - Formatter, Area - Rules, Feature Request, Issue - Enhancement

#1091 Add command data file for PowerShell v2 (needed to adapt script)
  Engine/Settings/desktop-2.0-windows.json
  RuleDocumentation/UseCompatibleCmdlets.md
Labels: (Re-)Review Needed, Area - Engine, Area - Rules

#1102 Fix PSUseConsistentIndentationRule to handle pipes correctly when there is a multi-line statement after a pipe and add PipelineIndentation customisation option for it
  Engine/Settings/CodeFormatting.psd1
  Engine/Settings/CodeFormattingAllman.psd1
  Engine/Settings/CodeFormattingOTBS.psd1
  Engine/Settings/CodeFormattingStroustrup.psd1
  RuleDocumentation/UseConsistentIndentation.md
  Rules/UseConsistentIndentation.cs
  Tests/Rules/UseConsistentIndentation.tests.ps1
Labels: (Re-)Review Needed, Area - Formatter

#1161 Fix settings file array parsing when no commas are present
  Engine/Settings.cs
  Tests/Engine/Settings.tests.ps1
  Tests/Rules/AllCompatibilityRules.Tests.ps1
Labels: Area - Engine

#1105 Unify reference to Microsoft.Management.Infrastructure and update System.Reflection.TypeExtensions package
  Rules/Rules.csproj
Labels: (Re-)Review Needed, Area - Build

#1117 Add 'UseCorrectCasing' formatting rule for cmdlet/function name
  Engine/Formatter.cs
  Engine/Settings/CodeFormatting.psd1
  Engine/Settings/CodeFormattingAllman.psd1
  Engine/Settings/CodeFormattingOTBS.psd1
  Engine/Settings/CodeFormattingStroustrup.psd1
  RuleDocumentation/README.md
  RuleDocumentation/UseCorrectCasing.md
  Rules/Strings.Designer.cs
  Rules/Strings.resx
  Rules/UseCorrectCasing.cs
  Tests/Engine/GetScriptAnalyzerRule.tests.ps1
  Tests/Rules/UseCorrectCasing.tests.ps1
Labels: (Re-)Review Needed, Area - Formatter

#1144 Translate RuleSuppressionID for custom rules as well
  Engine/ScriptAnalyzer.cs
  ScriptRuleDocumentation.md
  Tests/Engine/CustomizedRule.tests.ps1
  Tests/Engine/samplerule/samplerule.psm1
Labels: (Re-)Review Needed, Area - Engine

#1099 Fix PSSA for Turkish culture and tests when culture is not en-US
  Engine/Generic/ModuleDependencyHandler.cs
  Engine/Generic/RuleSuppression.cs
  Engine/ScriptAnalyzer.cs
  Engine/Settings.cs
  PSCompatibilityAnalyzer/Microsoft.PowerShell.CrossCompatibility/Utility/PlatformNaming.cs
  Rules/ProvideCommentHelp.cs
  Rules/UseShouldProcessCorrectly.cs
  ScriptRuleDocumentation.md
  Tests/Engine/CommunityAnalyzerRules/CommunityAnalyzerRules.psm1
  Tests/Engine/InvokeFormatter.tests.ps1
  tools/appveyor.psm1
Labels: (Re-)Review Needed, Issue - Bug

#1175 Fix regression caused by PR #963 during development of PSSA 1.18.0 whereby PSAvoidUsingPositionalParameters was not taking aliases into account any more
  Engine/Helper.cs
  Rules/AvoidPositionalParameters.cs
  Rules/UseCmdletCorrectly.cs
  Tests/Rules/AvoidPositionalParameters.tests.ps1
Labels: Area - Rules, Issue - Bug

#1172 Update platyps to 0.13
  README.md
  tools/appveyor.psm1
Labels: Area - Build

#1170 Changelog for 1.18.0
  CHANGELOG.MD
Labels: Area - Documentation

#1180 Set Date of 1.18.0 release in Changelog
  CHANGELOG.MD
Labels: Area - Documentation

#1191 Fix formatting regression in 1.18.0 whereby single-line pipeline reduces indentation level incorrectly
  Rules/UseConsistentIndentation.cs
  Tests/Rules/UseConsistentIndentation.tests.ps1
Labels: Area - Formatter, Issue - Bug
