Repository PowerShell/PSScriptAnalyzer, pull requests merged in 2019-01, with the labels that each got.

#1119 Correcting CommunityRules to CommunityAnalyzerRules.
  ScriptRuleDocumentation.md
Labels: Area - Documentation

#1108 Upgrade build target from net451 to net452 since net451 is not supported any more and net452 is an in-place upgrade anyway
  Engine/Engine.csproj
  Rules/Rules.csproj
  Utils/ReleaseMaker.psm1
  build.psm1
Labels: Area - Build

#1104 Mark setting files as content for easier out-of-the-box debugging
  Engine/Engine.csproj
  build.psm1
Labels: Area - Build

#1111 Make the correct example use the declared variable
  RuleDocumentation/UseCmdletCorrectly.md
Labels: Area - Documentation

#1121 Make Invoke-Formatter cleanup its state to avoid knock on effect on Invoke-ScriptAnalyzer
  Engine/Commands/InvokeFormatterCommand.cs
  Tests/Engine/InvokeFormatter.tests.ps1
Labels: Issue - Bug

#1115 Make PossibleIncorrectComparisonWithNull rule return a SuggestCorrection for auto-fixes in VS-Code or via the -Fix switch
  Rules/PossibleIncorrectComparisonWithNull.cs
  Rules/Strings.Designer.cs
  Rules/Strings.resx
  Tests/Rules/PossibleIncorrectComparisonWithNull.tests.ps1
Labels: Area - Rules, Issue - Enhancement

#1127 Fix the "How" section
  RuleDocumentation/UseShouldProcessForStateChangingFunctions.md
Labels: Area - Documentation

#1088 Simplify build scripts even more and upgrade platyPS in Appveyor
  README.md
  Utils/ReleaseMaker.psm1
  appveyor.yml
  build.ps1
  build.psm1
  tools/appveyor.psm1
Labels: Area - Build
