Repository PowerShell/PSScriptAnalyzer, pull requests merged in 2020-06, with the labels that each got.

#1491 UseConsistentWhitespace: Check previous token only if it starts on the same line
  Rules/UseConsistentWhitespace.cs
  Tests/Rules/UseConsistentWhitespace.tests.ps1
Labels: Area - Rules

#1497 Fix bug with PipelineIndentationStyle.None where break instead of continue statement was used
  Rules/UseConsistentIndentation.cs
  Tests/Rules/UseConsistentIndentation.tests.ps1
Labels: Area - Formatter, Area - Rules, Issue - Bug

#1470 New rule (disabled by default): AvoidUsingDoubleQuotesForConstantString
  Engine/Formatter.cs
  RuleDocumentation/AvoidUsingDoubleQuotesForConstantString.md
  RuleDocumentation/README.md
  Rules/AvoidUsingDoubleQuotesForConstantString.cs
  Rules/Strings.Designer.cs
  Rules/Strings.resx
  Tests/Engine/GetScriptAnalyzerRule.tests.ps1
  Tests/Rules/AvoidUsingDoubleQuotesForConstantString.tests.ps1
Labels: Area - Formatter, Area - Rules, Issue - New Rule

#1520 ReviewUnusedParameter: Do not trigger when MyInvocation.BoundParameters or PSCmdlet.MyInvocation.BoundParameters is used
  Rules/ReviewUnusedParameter.cs
  Tests/Rules/ReviewUnusedParameter.tests.ps1
Labels: Area - Rule Sets, Issue - Enhancement

#1535 Include PDB files in Debug build
  build.psm1
Labels: Area - Build

#1523 UseCorrectCasing: Do not use CommandInfoCache when CommandInfoParameters property throws due to runspace affinity problem of PowerShell engine
  Engine/CommandInfoCache.cs
  Engine/Helper.cs
  Rules/UseCorrectCasing.cs
  Tests/Rules/UseCorrectCasing.tests.ps1
Labels: Issue - Bug
