Repository PowerShell/PSScriptAnalyzer, pull requests merged in 2021-04, with the labels that each got.

#1638 Replace red-herring warning around process aliasing get-process with warning around invalid syntax
  Rules/AvoidAlias.cs
  Rules/Strings.Designer.cs
  Rules/Strings.resx
  Tests/Rules/AvoidUsingAlias.tests.ps1
Labels: Area - Rules

#1633 UseConsistenWhitespace - CheckOpenBrace setting: Do not warn when being preceded by open parenthesis
  RuleDocumentation/UseConsistentWhitespace.md
  Rules/UseConsistentWhitespace.cs
  Tests/Rules/UseConsistentWhitespace.tests.ps1
Labels: Area - Formatter

#1631 Upgrade release Dockerfile from Ubuntu 16.04 to 20.04
  tools/docker/ubuntu/Dockerfile
Labels: Area - Build

#1634 Speedup CI by bootstrapping PowerShell module installations in background and in parallel, whilst the .NET SDK is being installed
  tools/appveyor.psm1
Labels: Area - Build

#1630 Update .Net SDK to 3.1.408
  .devcontainer/Dockerfile
  global.json
  tools/releaseBuild/Image/DockerFile
Labels: Area - Build

#1625 move to new signing process for release build and prep for 1.20.0
  .ci/releaseBuild.yml
  Engine/Engine.csproj
  Engine/PSScriptAnalyzer.psd1
  PSCompatibilityCollector/Microsoft.PowerShell.CrossCompatibility/Microsoft.PowerShell.CrossCompatibility.csproj
  RuleDocumentation/AvoidUsingCmdletAliases.md
  Rules/Rules.csproj
  Tests/Engine/Settings.tests.ps1
  Tests/Engine/SettingsTest/Issue828/PSScriptAnalyzerSettings.psd1
  Tests/Engine/SettingsTest/Project1/ExplicitSettings.psd1
  Tests/Rules/AvoidUsingAlias.tests.ps1
  Tests/Rules/TestSettings/AvoidAliasSettings.psd1
  build.ps1
  build.psm1
  tools/releaseBuild/CredScan.Suppressions.json
Labels: Area - Build

#1627 Make UseSingularNouns rule work on PowerShell Core
  RuleDocumentation/README.md
  Rules/Rules.csproj
  Rules/UseSingularNouns.cs
  Tests/Documentation/RuleDocumentation.tests.ps1
  Tests/Engine/GetScriptAnalyzerRule.tests.ps1
  Tests/Engine/InvokeScriptAnalyzer.tests.ps1
  Tests/Rules/UseSingularNounsReservedVerbs.tests.ps1
  build.psm1
  tools/releaseBuild/signing.xml
Labels: Area - Rules
