Repository PowerShell/PSScriptAnalyzer, pull requests merged in 2023-09, with the labels that each got.

#1922 Add the AvoidExclaimOperator rule to warn about the use of the ! negation operator. Fixes #1826
  Engine/Formatter.cs
  Rules/AvoidExclaimOperator.cs
  Rules/Strings.Designer.cs
  Rules/Strings.resx
  Tests/Engine/GetScriptAnalyzerRule.tests.ps1
  Tests/Rules/AvoidExclaimOperator.tests.ps1
  docs/Rules/AvoidExclaimOperator.md
  docs/Rules/README.md
Labels: Area - Rules

#1856 Remove dead code and simplify
  Engine/CommandInfoCache.cs
  Engine/Commands/GetScriptAnalyzerRuleCommand.cs
  Engine/Commands/InvokeFormatterCommand.cs
  Engine/Commands/InvokeScriptAnalyzerCommand.cs
  Engine/Formatter.cs
  Engine/Generic/ModuleDependencyHandler.cs
  Engine/Helper.cs
  Engine/ScriptAnalyzer.cs
  Engine/Settings.cs
  PSCompatibilityCollector/Microsoft.PowerShell.CrossCompatibility/Collection/PlatformInformationCollector.cs
  PSCompatibilityCollector/Microsoft.PowerShell.CrossCompatibility/Commands/CommandUtilities.cs
  Rules/AvoidUserNameAndPasswordParams.cs
  Rules/AvoidUsingDeprecatedManifestFields.cs
  Rules/CompatibilityRules/UseCompatibleCommands.cs
  Rules/UseConsistentIndentation.cs
  Rules/UseIdenticalMandatoryParametersDSC.cs
  Rules/UseToExportFieldsInManifest.cs
Labels: Area - Build

#1908 PSReservedParams - link about_CommonParameters
  docs/Rules/ReservedParams.md
Labels: Area - Documentation

#1896 Enable suppression of PSAvoidAssignmentToAutomaticVariable for specific variable or parameter
  Rules/AvoidAssignmentToAutomaticVariable.cs
  Tests/Rules/AvoidAssignmentToAutomaticVariable.tests.ps1
Labels: Area - Rules

#1873 Upgrade to use .NET 6 since PowerShell 7.0 is now out out of support
  Engine/Engine.csproj
  README.md
  Rules/Rules.csproj
  appveyor.yml
  build.psm1
  global.json
Labels: Area - Build
